In [ ]:
import json
import random
import ollama
import nltk
from nltk.translate.bleu_score import sentence_bleu, SmoothingFunction
import openai
import numpy as np
import random
import llama_models
from scipy.stats import spearmanr
import ollama

# Set your OpenAI API key

# Load JSONL data
def load_jsonl(file_path):
    with open(file_path, 'r') as file:
        data = [json.loads(line) for line in file]
    return data

# Reconstruct SQL query from dataset
def reconstruct_query(entry, tables_map):
    table = tables_map[entry['table_id']]
    headers = table['header']
    sql = entry['sql']
    
    select_column = headers[sql['sel']]
    aggregation = ["", "MAX", "MIN", "COUNT", "SUM", "AVG"][sql['agg']]
    conditions = sql['conds']
    
    query = f"SELECT {aggregation}({select_column})".strip()
    if conditions:
        condition_clauses = []
        for col_index, operator, value in conditions:
            col_name = headers[col_index]
            operators = ["=", ">", "<", "OP"][operator]
            condition_clauses.append(f"{col_name} {operators} {value}")
        query += " WHERE " + " AND ".join(condition_clauses)
    return query

# Generate prompt for the LLM
def generate_prompt(sql_query):
    prompt = f"""
    Translate the following SQL query into natural language: {sql_query}.
    Include only the most possible translation and do not innclude any reasoning.
    """
    return prompt

def sql2nl(dev_path, tables_path, model):
    # Load datasets
    dev_data = load_jsonl(dev_path)
    tables_data = load_jsonl(tables_path)

    # Map table_id to table metadata
    tables_map = {table['id']: table for table in tables_data}

    # Evaluate LLM on dev data
    results = []

    # Sample 10 examples for evaluation
    sampled_entries = random.sample(dev_data, 100)

    for entry in sampled_entries:
        sql_query = reconstruct_query(entry, tables_map)
        prompt = generate_prompt(sql_query)
        
        if model == "llama":
            response = ollama.chat(
                model="llama3.2",
                messages=[
                    {"role": "system", "content": "You are an expert in SQL and natural language translation."},
                    {"role": "user", "content": prompt}
                ],
            )
            gpt_reply = response["message"]["content"]
        elif model == "gpt-4o":
            response = openai.ChatCompletion.create(
            model="gpt-4o",
            messages=[
                {"role": "system", "content": "You are an expert in statistics and time series analysis."},
                {"role": "user", "content": prompt}
            ]
            )
            
            # Extract and parse the suggested parameters
            gpt_reply = response['choices'][0]['message']['content']

        # Append results
        results.append({
            "question": entry["question"],
            "sql_query": sql_query,
            "gpt_reply": gpt_reply
        })

    # Display evaluation results
    for res in results:
        print(f"Original Question: {res['question']}")
        print(f"SQL Query: {res['sql_query']}")
        print(f"LLM Reply: {res['gpt_reply']}")
        print("-" * 50)

    # Compute BLEU scores
    def compute_bleu(reference, candidate):
        reference_tokens = nltk.word_tokenize(reference.lower())
        candidate_tokens = nltk.word_tokenize(candidate.lower())
        smoothing_function = SmoothingFunction().method1
        return sentence_bleu([reference_tokens], candidate_tokens, smoothing_function=smoothing_function)

    # Calculate BLEU scores for each result
    bleu_scores = [
        compute_bleu(res["question"], res["gpt_reply"])
        for res in results
    ]

    # Display BLEU scores
    for i, score in enumerate(bleu_scores):
        print(f"Example {i+1} BLEU Score: {score:.2f}")

    # Calculate and display average BLEU score
    average_bleu = sum(bleu_scores) / len(bleu_scores)
    print(f"Average BLEU Score: {average_bleu:.2f}")
    return average_bleu, bleu_scores

In [ ]:

# Define paths to the dataset files
dev_path = "/home/qic69/Desktop/domain_metric/DMM_project/WikiSQL/data/dev.jsonl"
tables_path = "/home/qic69/Desktop/domain_metric/DMM_project/WikiSQL/data/dev.tables.jsonl"
model = "gpt-4o"

Original Question: What score to par did Mike Weir have?
SQL Query: SELECT (To par) WHERE Player = mike weir
LLM Reply: Retrieve the "To par" value for the player Mike Weir.
--------------------------------------------------
Original Question: what is the total number of films directy and written by john callaghan?
SQL Query: SELECT COUNT(Directed by) WHERE Written by = John Callaghan
LLM Reply: Count the number of entries where the writer is John Callaghan.
--------------------------------------------------
Original Question: what's the first epbeingode with final epbeingode being "rio"
SQL Query: SELECT (First Episode) WHERE Final Episode = "Rio"
LLM Reply: Retrieve the first episode for which the final episode is "Rio".
--------------------------------------------------
Original Question: What position does Zack Torquato play?
SQL Query: SELECT (Position) WHERE Player = zack torquato
LLM Reply: Retrieve the position of the player named Zack Torquato.
--------------------------------------------------
Original Question: When was the game when Footscray was the away team?
SQL Query: SELECT (Date) WHERE Away team = footscray
LLM Reply: Select the dates when the away team was Footscray.
--------------------------------------------------
Original Question: Name the least matches for runs being 276
SQL Query: SELECT MIN(Matches) WHERE Runs = 276
LLM Reply: Find the smallest number of matches where the runs scored are exactly 276.
--------------------------------------------------
Original Question: What is the swimsuit score when the interview was 9.74?
SQL Query: SELECT (Swimsuit) WHERE Interview = 9.74
LLM Reply: Select the swimsuit where the interview score is 9.74.
--------------------------------------------------
Original Question: Which Neville has a Novick of 23%?
SQL Query: SELECT (Neville) WHERE Novick = 23%
LLM Reply: Retrieve the records for Neville where the Novick value is equal to 23%.
--------------------------------------------------
Original Question: How many positions does the draft pick whose nationality is Czech Republic play?
SQL Query: SELECT COUNT(Position) WHERE Nationality = Czech Republic
LLM Reply: Count the number of positions where the nationality is Czech Republic.
--------------------------------------------------
Original Question: What was the profession of the celebrity who was featured on season 15 and finished 7th place?
SQL Query: SELECT (Notability/Profession) WHERE Season = 15 AND Finish = 7th
LLM Reply: Select individuals' notability and profession where their season is 15 and they finished in 7th place.
--------------------------------------------------
Original Question: What is the Date of the game with a Score of 6–4, 6–2?
SQL Query: SELECT (Date) WHERE Score = 6–4, 6–2
LLM Reply: Retrieve the dates where the score is 6–4, 6–2.
--------------------------------------------------
Original Question: Who had the fastest lap(s) when stefan wilson had the pole?
SQL Query: SELECT (Fastest lap) WHERE Pole position = Stefan Wilson
LLM Reply: Retrieve the fastest lap time where Stefan Wilson was in pole position.
--------------------------------------------------
Original Question: What is the minimum PA when ends lost is 45?
SQL Query: SELECT MIN(PA) WHERE Ends Lost = 45
LLM Reply: Find the minimum value of PA where the number of Ends Lost is 45.
--------------------------------------------------
Original Question: What was the English title fo the film that was a nominee?
SQL Query: SELECT (English title) WHERE Result = Nominee
LLM Reply: Select the English title where the result is a nominee.
--------------------------------------------------
Original Question: How many extra points did right halfback Roswell Wendell have?
SQL Query: SELECT (Extra points) WHERE Position = right halfback AND Player = roswell wendell
LLM Reply: Retrieve the extra points for Roswell Wendell when he played as a right halfback.
--------------------------------------------------
Original Question: Which event had a total of defending champion?
SQL Query: SELECT (Event) WHERE Total = defending champion
LLM Reply: Select the event where the total is equal to the defending champion.
--------------------------------------------------
Original Question: what is the district of wallasey
SQL Query: SELECT (District) WHERE Name = wallasey
LLM Reply: Retrieve the district where the name is Wallasey.
--------------------------------------------------
Original Question: What is the title with the production number greater than 1334 released on 1955-08-27?
SQL Query: SELECT (Title) WHERE Production Number > 1334 AND Release date = 1955-08-27
LLM Reply: Select the titles of the records where the production number is greater than 1334 and the release date is August 27, 1955.
--------------------------------------------------
Original Question: Which Overall has a Name of bob anderson, and a Round smaller than 9?
SQL Query: SELECT AVG(Overall) WHERE Name = bob anderson AND Round < 9
LLM Reply: Calculate the average "Overall" score for Bob Anderson for rounds less than 9.
--------------------------------------------------
Original Question: What was the score at Tiger Stadium on October 12?
SQL Query: SELECT (Score) WHERE Location = tiger stadium AND Date = october 12
LLM Reply: Retrieve the score for the event that took place at Tiger Stadium on October 12.
--------------------------------------------------
Original Question: Which award was nominated for in 2000?
SQL Query: SELECT (Award) WHERE Year = 2000 AND Result = nominated
LLM Reply: Retrieve the awards that were nominated in the year 2000.
--------------------------------------------------
Original Question: What is the listed crowd when essendon is the away squad?
SQL Query: SELECT COUNT(Crowd) WHERE Away team = essendon
LLM Reply: Count the number of matches where the away team is Essendon.
--------------------------------------------------
Original Question: Who did the Tampa Bay Buccaneers play on december 23, 1995?
SQL Query: SELECT (Opponent) WHERE Date = december 23, 1995
LLM Reply: Display the opponent from the records where the date is December 23, 1995.
--------------------------------------------------
Original Question: Which Home team has an Away team of everton?
SQL Query: SELECT (Home team) WHERE Away team = everton
LLM Reply: Select the home teams that played against Everton as the away team.
--------------------------------------------------
Original Question: What is the name of the 9th ranked common?
SQL Query: SELECT (Common of) WHERE Rank = 9th
LLM Reply: Retrieve the "Common" field for records where the "Rank" is equal to 9th.
--------------------------------------------------
Original Question: How many incumbents had a district of Arkansas 3?
SQL Query: SELECT COUNT(Incumbent) WHERE District = Arkansas 3
LLM Reply: Count the number of incumbents in District Arkansas 3.
--------------------------------------------------
Original Question: who won by a score of 4-1?
SQL Query: SELECT (Winning Team) WHERE Score = 4-1
LLM Reply: Retrieve the winning team with a score of 4-1.
--------------------------------------------------
Original Question: What is the minimum number of opponents?
SQL Query: SELECT MIN(Opponents)
LLM Reply: Find the smallest value in the Opponents column.
--------------------------------------------------
Original Question: What is the average Week for the game at three rivers stadium, with a Record of 3–2?
SQL Query: SELECT AVG(Week) WHERE Location = three rivers stadium AND Record = 3–2
LLM Reply: Calculate the average week number for records with a 3–2 outcome at Three Rivers Stadium.
--------------------------------------------------
Original Question: What is listed as the highest Participants that also have a Rank of 5, and Silver that's smaller than 0?
SQL Query: SELECT MAX(Participants) WHERE Rank = 5 AND Silver < 0
LLM Reply: Find the highest number of participants among entries where the rank is 5 and the number of silver medals is less than 0.
--------------------------------------------------
Original Question: Name the year for sammo hung for ip man 2
SQL Query: SELECT (Year) WHERE Best Supporting Actor = Sammo Hung for Ip Man 2
LLM Reply: Identify the year when Sammo Hung won the Best Supporting Actor award for the movie Ip Man 2.
--------------------------------------------------
Original Question: What is the total grid number when Fonsi Nieto had more than 22 laps?
SQL Query: SELECT COUNT(Grid) WHERE Rider = fonsi nieto AND Laps > 22
LLM Reply: Count the number of instances where the rider is Fonsi Nieto and the laps are greater than 22.
--------------------------------------------------
Original Question: With Olympic Bronze Medalist as the total what are the score points?
SQL Query: SELECT (Score points) WHERE Total = olympic bronze medalist
LLM Reply: Retrieve the points scored for entries where the total is equivalent to that of an Olympic bronze medalist.
--------------------------------------------------
Original Question: Where did Richmond play?
SQL Query: SELECT (Venue) WHERE Away team = richmond
LLM Reply: Retrieve the venues where the away team is Richmond.
--------------------------------------------------
Original Question: What is the Title of the Film with a Rank greater than 11 and Worldwide Gross of $131,002,597?
SQL Query: SELECT (Title) WHERE Rank > 11 AND Worldwide Gross = $131,002,597
LLM Reply: Select the titles of movies where the rank is greater than 11 and the worldwide gross is exactly $131,002,597.
--------------------------------------------------
Original Question: What is the name of the couple if the total points earned is 161?
SQL Query: SELECT (Couple) WHERE Total Points Earned = 161
LLM Reply: Show the "Couple" where "Total Points Earned" is 161.
--------------------------------------------------
Original Question: What's Italtrans Racing Team's, with 0 pts, class?
SQL Query: SELECT (Class) WHERE Pts = 0 AND Team = Italtrans Racing Team
LLM Reply: Select the Class for entries where the points are 0 and the team is Italtrans Racing Team.
--------------------------------------------------
Original Question: How many overalls have a pick greater than 19, with florida as the college?
SQL Query: SELECT SUM(Overall) WHERE Pick > 19 AND College = florida
LLM Reply: Calculate the total of the "Overall" scores for entries where "Pick" is greater than 19 and the "College" is Florida.
--------------------------------------------------
Original Question: How many institutions are shown for the football stadium of mosaic stadium?
SQL Query: SELECT COUNT(Institution) WHERE Football stadium = Mosaic Stadium
LLM Reply: Count the number of institutions that have a football stadium named Mosaic Stadium.
--------------------------------------------------
Original Question: How many different counts of the votes for Bush are there in the county where he got 69.7% of the votes?
SQL Query: SELECT COUNT(Bush#) WHERE Bush% = 69.7%
LLM Reply: Count the number of records where Bush% is equal to 69.7%.
--------------------------------------------------
Original Question: If the points were 0, what were the tries for?
SQL Query: SELECT (Tries for) WHERE Points for = 0
LLM Reply: Retrieve the number of tries scored in matches where the points scored were zero.
--------------------------------------------------
Original Question: What was the final score with Guillermo Vilas as the opponent in the final, that happened after 1972?
SQL Query: SELECT (Score in the final) WHERE Opponent in the final = guillermo vilas AND Date > 1972
LLM Reply: Retrieve the scores in the final matches where the opponent was Guillermo Vilas and the date was after 1972.
--------------------------------------------------
Original Question: What was the date of the game with a result of 3–2?
SQL Query: SELECT (Date) WHERE Result = 3–2
LLM Reply: Retrieve the dates where the result was 3–2.
--------------------------------------------------
Original Question: What is the margin of victory when the tournament is konica san jose classic?
SQL Query: SELECT (Margin of victory) WHERE Tournament = konica san jose classic
LLM Reply: Retrieve the margin of victory for matches in the Konica San Jose Classic tournament.
--------------------------------------------------
Original Question: What is the total of the roll with a Decile of 8, and an Area of hororata?
SQL Query: SELECT SUM(Roll) WHERE Decile = 8 AND Area = hororata
LLM Reply: Calculate the total of all values in the 'Roll' column where the 'Decile' is 8 and the 'Area' is Hororata.
--------------------------------------------------
Original Question: Who is the successor when the reason for change is seat declared vacant January 2, 1808
SQL Query: SELECT (Successor) WHERE Reason for change = Seat declared vacant January 2, 1808
LLM Reply: Identify the successor where the reason for change is that the seat was declared vacant on January 2, 1808.
--------------------------------------------------
Original Question: How many games have an Attendance of 19,190?
SQL Query: SELECT COUNT(Game) WHERE Attendance = 19,190
LLM Reply: Count the number of games where the attendance was 19,190.
--------------------------------------------------
Original Question: how many categories fall under the category of britons?
SQL Query: SELECT COUNT(Type) WHERE Nickname = Britons
LLM Reply: Count the number of occurrences where the Nickname is "Britons".
--------------------------------------------------
Original Question: How many losses did leon patton have with the longest gain higher than 45?
SQL Query: SELECT COUNT(Loss) WHERE Name = leon patton AND Long > 45
LLM Reply: Count the number of entries where the name is Leon Patton and the value for "Long" is greater than 45.
--------------------------------------------------
Original Question: What is Country, when Place is "T9", and when Player is "Michael Campbell"?
SQL Query: SELECT (Country) WHERE Place = t9 AND Player = michael campbell
LLM Reply: Retrieve the country where the place is t9 and the player is Michael Campbell.
--------------------------------------------------
Original Question: What was the result of Frank Langella?
SQL Query: SELECT (Result) WHERE Nominee = frank langella
LLM Reply: Return the "Result" where the "Nominee" is "Frank Langella".
--------------------------------------------------
Original Question: Which Topinka happened on january 22, 2006?
SQL Query: SELECT (Topinka (R)) WHERE Date = january 22, 2006
LLM Reply: Retrieve the records of Topinka from table R where the date is January 22, 2006.
--------------------------------------------------
Original Question: How many times was Plan B 4th place?
SQL Query: SELECT COUNT(Winner) WHERE Fourth = Plan B
LLM Reply: Count the number of occurrences where the Fourth column has the value "Plan B".
--------------------------------------------------
Original Question: What was the average place for the song that had 69 points and a draw smaller than 13?
SQL Query: SELECT AVG(Place) WHERE Points = 69 AND Draw < 13
LLM Reply: Calculate the average placement for entries that have 69 points and fewer than 13 draws.
--------------------------------------------------
Original Question: What city is 103.3 FM licensed in?
SQL Query: SELECT (City of license) WHERE Frequency = 103.3 fm
LLM Reply: Retrieve the city of license where the frequency is 103.3 FM.
--------------------------------------------------
Original Question: Who won with the song kemenangan cinta?
SQL Query: SELECT (Winner) WHERE Winning Song = kemenangan cinta
LLM Reply: Select the Winner where the Winning Song is "kemenangan cinta".
--------------------------------------------------
Original Question: What are the profits in billions for Berkshire Hathaway?
SQL Query: SELECT (Profits (billion $)) WHERE Company = Berkshire Hathaway
LLM Reply: Show the profits in billion dollars for the company Berkshire Hathaway.
--------------------------------------------------
Original Question: What payload was on November 26, 2011, 15:02?
SQL Query: SELECT (Type of payload) WHERE Date and time( UTC ) = november 26, 2011, 15:02
LLM Reply: Retrieve the type of payload for the timestamp November 26, 2011, 15:02 UTC.
--------------------------------------------------
Original Question: What is the figure for Tujunga when Pasadena is 134,941?
SQL Query: SELECT (Tujunga) WHERE Pasadena = 134,941
LLM Reply: Find the value of Tujunga for which Pasadena equals 134,941.
--------------------------------------------------
Original Question: Name the district for tim lee hall
SQL Query: SELECT (District) WHERE Incumbent = Tim Lee Hall
LLM Reply: Select the District where the Incumbent is Tim Lee Hall.
--------------------------------------------------
Original Question: What is the value scored when there were 19 points for the team 3 de Febrero?
SQL Query: SELECT MAX(Scored) WHERE Points = 19 AND Team = 3 de Febrero
LLM Reply: Find the maximum value in the "Scored" column for records where the "Points" column equals 19 and the "Team" column is "3 de Febrero."
--------------------------------------------------
Original Question: When Peter Sagan won the youth classification and Thomas Rabou won the most corageous, who won the sprint classification?
SQL Query: SELECT (Sprint Classification) WHERE Youth Classification = Peter Sagan AND Most Courageous = Thomas Rabou
LLM Reply: Find the Sprint Classification for records where the Youth Classification is Peter Sagan and Most Courageous is Thomas Rabou.
--------------------------------------------------
Original Question: Who has the Home Score of 52-54?
SQL Query: SELECT (Home) WHERE Score = 52-54
LLM Reply: Retrieve records where the "Home" column is specified and the "Score" value is between 52 and 54, inclusive.
--------------------------------------------------
Original Question: What model has a builder of zhuzhou, and a power output of 9600 (kw)?
SQL Query: SELECT (Model) WHERE Builder (Family) = zhuzhou AND Power output (kW) = 9600
LLM Reply: Select the model where the builder family is Zhuzhou and the power output is 9600 kilowatts.
--------------------------------------------------
Original Question: What away team played at Kardinia Park?
SQL Query: SELECT (Away team score) WHERE Venue = kardinia park
LLM Reply: Show the scores of the away team for matches held at Kardinia Park.
--------------------------------------------------
Original Question: What is the largest area with a Code of 66097, and a Region larger than 6?
SQL Query: SELECT MAX(Area (km 2 )) WHERE Code = 66097 AND Region > 6
LLM Reply: Find the maximum area (in square kilometers) for entries where the code is 66097 and the region number is greater than 6.
--------------------------------------------------
Original Question: What day did Emerson Fittipaldi win the Spanish Grand Prix?
SQL Query: SELECT (Date) WHERE Winning driver = emerson fittipaldi AND Race = spanish grand prix
LLM Reply: Find the dates when Emerson Fittipaldi won the Spanish Grand Prix.
--------------------------------------------------
Original Question: Who was the interview subject on the date 1-97?
SQL Query: SELECT (Interview subject) WHERE Date = 1-97
LLM Reply: Select the interview subject where the date is January 1997.
--------------------------------------------------
Original Question: How many points did he win in the race with more than 1.0 poles?
SQL Query: SELECT (Points) WHERE Poles > 1.0
LLM Reply: Retrieve the points for entries where the number of poles is greater than 1.0.
--------------------------------------------------
Original Question: On what date does Yuji Tachikawa have the fastest lap in round 1?
SQL Query: SELECT (Date) WHERE Fastest Lap = yuji tachikawa AND Round = 1
LLM Reply: Retrieve the dates when Yuji Tachikawa achieved the fastest lap in Round 1.
--------------------------------------------------
Original Question: What was the date during week 13?
SQL Query: SELECT (Date) WHERE Week = 13