In [1]:
import json
import random
import ollama
import nltk
from nltk.translate.bleu_score import sentence_bleu, SmoothingFunction
import openai
import numpy as np
import random
import llama_models
from scipy.stats import spearmanr
import ollama

# Set your OpenAI API key

# Load JSONL data
def load_jsonl(file_path):
    with open(file_path, 'r') as file:
        data = [json.loads(line) for line in file]
    return data

# Reconstruct SQL query from dataset
def reconstruct_query(entry, tables_map):
    table = tables_map[entry['table_id']]
    headers = table['header']
    sql = entry['sql']
    
    select_column = headers[sql['sel']]
    aggregation = ["", "MAX", "MIN", "COUNT", "SUM", "AVG"][sql['agg']]
    conditions = sql['conds']
    
    query = f"SELECT {aggregation}({select_column})".strip()
    if conditions:
        condition_clauses = []
        for col_index, operator, value in conditions:
            col_name = headers[col_index]
            operators = ["=", ">", "<", "OP"][operator]
            condition_clauses.append(f"{col_name} {operators} {value}")
        query += " WHERE " + " AND ".join(condition_clauses)
    return query

# Generate prompt for the LLM
def generate_prompt(sql_query):
    prompt = f"""
    Translate the following SQL query into natural language: {sql_query}.
    Include only the most possible translation and do not innclude any reasoning.
    """
    return prompt

def sql2nl(dev_path, tables_path, model):
    # Load datasets
    dev_data = load_jsonl(dev_path)
    tables_data = load_jsonl(tables_path)

    # Map table_id to table metadata
    tables_map = {table['id']: table for table in tables_data}

    # Evaluate LLM on dev data
    results = []

    # Sample 10 examples for evaluation
    sampled_entries = random.sample(dev_data, 100)

    for entry in sampled_entries:
        sql_query = reconstruct_query(entry, tables_map)
        prompt = generate_prompt(sql_query)
        
        if model == "llama":
            response = ollama.chat(
                model="llama3.2",
                messages=[
                    {"role": "system", "content": "You are an expert in SQL and natural language translation."},
                    {"role": "user", "content": prompt}
                ],
            )
            gpt_reply = response["message"]["content"]
        elif model == "gpt-4o":
            response = openai.ChatCompletion.create(
            model="gpt-4o",
            messages=[
                {"role": "system", "content": "You are an expert in statistics and time series analysis."},
                {"role": "user", "content": prompt}
            ]
            )
            
            # Extract and parse the suggested parameters
            gpt_reply = response['choices'][0]['message']['content']

        # Append results
        results.append({
            "question": entry["question"],
            "sql_query": sql_query,
            "gpt_reply": gpt_reply
        })

    # Display evaluation results
    for res in results:
        print(f"Original Question: {res['question']}")
        print(f"SQL Query: {res['sql_query']}")
        print(f"LLM Reply: {res['gpt_reply']}")
        print("-" * 50)

    # Compute BLEU scores
    def compute_bleu(reference, candidate):
        reference_tokens = nltk.word_tokenize(reference.lower())
        candidate_tokens = nltk.word_tokenize(candidate.lower())
        smoothing_function = SmoothingFunction().method1
        return sentence_bleu([reference_tokens], candidate_tokens, smoothing_function=smoothing_function)

    # Calculate BLEU scores for each result
    bleu_scores = [
        compute_bleu(res["question"], res["gpt_reply"])
        for res in results
    ]

    # Display BLEU scores
    for i, score in enumerate(bleu_scores):
        print(f"Example {i+1} BLEU Score: {score:.2f}")

    # Calculate and display average BLEU score
    average_bleu = sum(bleu_scores) / len(bleu_scores)
    print(f"Average BLEU Score: {average_bleu:.2f}")
    return average_bleu, bleu_scores

In [ ]:
# Define paths to the dataset files
dev_path = "/home/qic69/Desktop/domain_metric/DMM_project/WikiSQL/data/dev.jsonl"
tables_path = "/home/qic69/Desktop/domain_metric/DMM_project/WikiSQL/data/dev.tables.jsonl"
model = "gpt-4o"

sql2nl(dev_path, tables_path, model)

Original Question: What score to par did Mike Weir have?
SQL Query: SELECT (To par) WHERE Player = mike weir
LLM Reply: Retrieve the "To par" value for the player Mike Weir.
--------------------------------------------------
Original Question: what is the total number of films directy and written by john callaghan?
SQL Query: SELECT COUNT(Directed by) WHERE Written by = John Callaghan
LLM Reply: Count the number of entries where the writer is John Callaghan.
--------------------------------------------------
Original Question: what's the first epbeingode with final epbeingode being "rio"
SQL Query: SELECT (First Episode) WHERE Final Episode = "Rio"
LLM Reply: Retrieve the first episode for which the final episode is "Rio".
--------------------------------------------------
Original Question: What position does Zack Torquato play?
SQL Query: SELECT (Position) WHERE Player = zack torquato
LLM Reply: Retrieve the position of the player named Zack Torquato.
--------------------------------------------------
Original Question: When was the game when Footscray was the away team?
SQL Query: SELECT (Date) WHERE Away team = footscray
LLM Reply: Select the dates when the away team was Footscray.
--------------------------------------------------
Original Question: Name the least matches for runs being 276
SQL Query: SELECT MIN(Matches) WHERE Runs = 276
LLM Reply: Find the smallest number of matches where the runs scored are exactly 276.
--------------------------------------------------
Original Question: What is the swimsuit score when the interview was 9.74?
SQL Query: SELECT (Swimsuit) WHERE Interview = 9.74
LLM Reply: Select the swimsuit where the interview score is 9.74.
--------------------------------------------------
Original Question: Which Neville has a Novick of 23%?
SQL Query: SELECT (Neville) WHERE Novick = 23%
LLM Reply: Retrieve the records for Neville where the Novick value is equal to 23%.
--------------------------------------------------
Original Question: How many positions does the draft pick whose nationality is Czech Republic play?
SQL Query: SELECT COUNT(Position) WHERE Nationality = Czech Republic
LLM Reply: Count the number of positions where the nationality is Czech Republic.
--------------------------------------------------
Original Question: What was the profession of the celebrity who was featured on season 15 and finished 7th place?
SQL Query: SELECT (Notability/Profession) WHERE Season = 15 AND Finish = 7th
LLM Reply: Select individuals' notability and profession where their season is 15 and they finished in 7th place.
--------------------------------------------------
Original Question: What is the Date of the game with a Score of 6–4, 6–2?
SQL Query: SELECT (Date) WHERE Score = 6–4, 6–2
LLM Reply: Retrieve the dates where the score is 6–4, 6–2.
--------------------------------------------------
Original Question: Who had the fastest lap(s) when stefan wilson had the pole?
SQL Query: SELECT (Fastest lap) WHERE Pole position = Stefan Wilson
LLM Reply: Retrieve the fastest lap time where Stefan Wilson was in pole position.
--------------------------------------------------
Original Question: What is the minimum PA when ends lost is 45?
SQL Query: SELECT MIN(PA) WHERE Ends Lost = 45
LLM Reply: Find the minimum value of PA where the number of Ends Lost is 45.
--------------------------------------------------
Original Question: What was the English title fo the film that was a nominee?
SQL Query: SELECT (English title) WHERE Result = Nominee
LLM Reply: Select the English title where the result is a nominee.
--------------------------------------------------
Original Question: How many extra points did right halfback Roswell Wendell have?
SQL Query: SELECT (Extra points) WHERE Position = right halfback AND Player = roswell wendell
LLM Reply: Retrieve the extra points for Roswell Wendell when he played as a right halfback.
--------------------------------------------------
Original Question: Which event had a total of defending champion?
SQL Query: SELECT (Event) WHERE Total = defending champion
LLM Reply: Select the event where the total is equal to the defending champion.
--------------------------------------------------
Original Question: what is the district of wallasey
SQL Query: SELECT (District) WHERE Name = wallasey
LLM Reply: Retrieve the district where the name is Wallasey.
--------------------------------------------------
Original Question: What is the title with the production number greater than 1334 released on 1955-08-27?
SQL Query: SELECT (Title) WHERE Production Number > 1334 AND Release date = 1955-08-27
LLM Reply: Select the titles of the records where the production number is greater than 1334 and the release date is August 27, 1955.
--------------------------------------------------
Original Question: Which Overall has a Name of bob anderson, and a Round smaller than 9?
SQL Query: SELECT AVG(Overall) WHERE Name = bob anderson AND Round < 9
LLM Reply: Calculate the average "Overall" score for Bob Anderson for rounds less than 9.
--------------------------------------------------
Original Question: What was the score at Tiger Stadium on October 12?
SQL Query: SELECT (Score) WHERE Location = tiger stadium AND Date = october 12
LLM Reply: Retrieve the score for the event that took place at Tiger Stadium on October 12.
--------------------------------------------------
Original Question: Which award was nominated for in 2000?
SQL Query: SELECT (Award) WHERE Year = 2000 AND Result = nominated
LLM Reply: Retrieve the awards that were nominated in the year 2000.
--------------------------------------------------
Original Question: What is the listed crowd when essendon is the away squad?
SQL Query: SELECT COUNT(Crowd) WHERE Away team = essendon
LLM Reply: Count the number of matches where the away team is Essendon.
--------------------------------------------------
Original Question: Who did the Tampa Bay Buccaneers play on december 23, 1995?
SQL Query: SELECT (Opponent) WHERE Date = december 23, 1995
LLM Reply: Display the opponent from the records where the date is December 23, 1995.
--------------------------------------------------
Original Question: Which Home team has an Away team of everton?
SQL Query: SELECT (Home team) WHERE Away team = everton
LLM Reply: Select the home teams that played against Everton as the away team.
--------------------------------------------------
Original Question: What is the name of the 9th ranked common?
SQL Query: SELECT (Common of) WHERE Rank = 9th
LLM Reply: Retrieve the "Common" field for records where the "Rank" is equal to 9th.
--------------------------------------------------
Original Question: How many incumbents had a district of Arkansas 3?
SQL Query: SELECT COUNT(Incumbent) WHERE District = Arkansas 3
LLM Reply: Count the number of incumbents in District Arkansas 3.
--------------------------------------------------
Original Question: who won by a score of 4-1?
SQL Query: SELECT (Winning Team) WHERE Score = 4-1
LLM Reply: Retrieve the winning team with a score of 4-1.
--------------------------------------------------
Original Question: What is the minimum number of opponents?
SQL Query: SELECT MIN(Opponents)
LLM Reply: Find the smallest value in the Opponents column.
--------------------------------------------------
Original Question: What is the average Week for the game at three rivers stadium, with a Record of 3–2?
SQL Query: SELECT AVG(Week) WHERE Location = three rivers stadium AND Record = 3–2
LLM Reply: Calculate the average week number for records with a 3–2 outcome at Three Rivers Stadium.
--------------------------------------------------
Original Question: What is listed as the highest Participants that also have a Rank of 5, and Silver that's smaller than 0?
SQL Query: SELECT MAX(Participants) WHERE Rank = 5 AND Silver < 0
LLM Reply: Find the highest number of participants among entries where the rank is 5 and the number of silver medals is less than 0.
--------------------------------------------------
Original Question: Name the year for sammo hung for ip man 2
SQL Query: SELECT (Year) WHERE Best Supporting Actor = Sammo Hung for Ip Man 2
LLM Reply: Identify the year when Sammo Hung won the Best Supporting Actor award for the movie Ip Man 2.
--------------------------------------------------
Original Question: What is the total grid number when Fonsi Nieto had more than 22 laps?
SQL Query: SELECT COUNT(Grid) WHERE Rider = fonsi nieto AND Laps > 22
LLM Reply: Count the number of instances where the rider is Fonsi Nieto and the laps are greater than 22.
--------------------------------------------------
Original Question: With Olympic Bronze Medalist as the total what are the score points?
SQL Query: SELECT (Score points) WHERE Total = olympic bronze medalist
LLM Reply: Retrieve the points scored for entries where the total is equivalent to that of an Olympic bronze medalist.
--------------------------------------------------
Original Question: Where did Richmond play?
SQL Query: SELECT (Venue) WHERE Away team = richmond
LLM Reply: Retrieve the venues where the away team is Richmond.
--------------------------------------------------
Original Question: What is the Title of the Film with a Rank greater than 11 and Worldwide Gross of $131,002,597?
SQL Query: SELECT (Title) WHERE Rank > 11 AND Worldwide Gross = $131,002,597
LLM Reply: Select the titles of movies where the rank is greater than 11 and the worldwide gross is exactly $131,002,597.
--------------------------------------------------
Original Question: What is the name of the couple if the total points earned is 161?
SQL Query: SELECT (Couple) WHERE Total Points Earned = 161
LLM Reply: Show the "Couple" where "Total Points Earned" is 161.
--------------------------------------------------
Original Question: What's Italtrans Racing Team's, with 0 pts, class?
SQL Query: SELECT (Class) WHERE Pts = 0 AND Team = Italtrans Racing Team
LLM Reply: Select the Class for entries where the points are 0 and the team is Italtrans Racing Team.
--------------------------------------------------
Original Question: How many overalls have a pick greater than 19, with florida as the college?
SQL Query: SELECT SUM(Overall) WHERE Pick > 19 AND College = florida
LLM Reply: Calculate the total of the "Overall" scores for entries where "Pick" is greater than 19 and the "College" is Florida.
--------------------------------------------------
Original Question: How many institutions are shown for the football stadium of mosaic stadium?
SQL Query: SELECT COUNT(Institution) WHERE Football stadium = Mosaic Stadium
LLM Reply: Count the number of institutions that have a football stadium named Mosaic Stadium.
--------------------------------------------------
Original Question: How many different counts of the votes for Bush are there in the county where he got 69.7% of the votes?
SQL Query: SELECT COUNT(Bush#) WHERE Bush% = 69.7%
LLM Reply: Count the number of records where Bush% is equal to 69.7%.
--------------------------------------------------
Original Question: If the points were 0, what were the tries for?
SQL Query: SELECT (Tries for) WHERE Points for = 0
LLM Reply: Retrieve the number of tries scored in matches where the points scored were zero.
--------------------------------------------------
Original Question: What was the final score with Guillermo Vilas as the opponent in the final, that happened after 1972?
SQL Query: SELECT (Score in the final) WHERE Opponent in the final = guillermo vilas AND Date > 1972
LLM Reply: Retrieve the scores in the final matches where the opponent was Guillermo Vilas and the date was after 1972.
--------------------------------------------------
Original Question: What was the date of the game with a result of 3–2?
SQL Query: SELECT (Date) WHERE Result = 3–2
LLM Reply: Retrieve the dates where the result was 3–2.
--------------------------------------------------
Original Question: What is the margin of victory when the tournament is konica san jose classic?
SQL Query: SELECT (Margin of victory) WHERE Tournament = konica san jose classic
LLM Reply: Retrieve the margin of victory for matches in the Konica San Jose Classic tournament.
--------------------------------------------------
Original Question: What is the total of the roll with a Decile of 8, and an Area of hororata?
SQL Query: SELECT SUM(Roll) WHERE Decile = 8 AND Area = hororata
LLM Reply: Calculate the total of all values in the 'Roll' column where the 'Decile' is 8 and the 'Area' is Hororata.
--------------------------------------------------
Original Question: Who is the successor when the reason for change is seat declared vacant January 2, 1808
SQL Query: SELECT (Successor) WHERE Reason for change = Seat declared vacant January 2, 1808
LLM Reply: Identify the successor where the reason for change is that the seat was declared vacant on January 2, 1808.
--------------------------------------------------
Original Question: How many games have an Attendance of 19,190?
SQL Query: SELECT COUNT(Game) WHERE Attendance = 19,190
LLM Reply: Count the number of games where the attendance was 19,190.
--------------------------------------------------
Original Question: how many categories fall under the category of britons?
SQL Query: SELECT COUNT(Type) WHERE Nickname = Britons
LLM Reply: Count the number of occurrences where the Nickname is "Britons".
--------------------------------------------------
Original Question: How many losses did leon patton have with the longest gain higher than 45?
SQL Query: SELECT COUNT(Loss) WHERE Name = leon patton AND Long > 45
LLM Reply: Count the number of entries where the name is Leon Patton and the value for "Long" is greater than 45.
--------------------------------------------------
Original Question: What is Country, when Place is "T9", and when Player is "Michael Campbell"?
SQL Query: SELECT (Country) WHERE Place = t9 AND Player = michael campbell
LLM Reply: Retrieve the country where the place is t9 and the player is Michael Campbell.
--------------------------------------------------
Original Question: What was the result of Frank Langella?
SQL Query: SELECT (Result) WHERE Nominee = frank langella
LLM Reply: Return the "Result" where the "Nominee" is "Frank Langella".
--------------------------------------------------
Original Question: Which Topinka happened on january 22, 2006?
SQL Query: SELECT (Topinka (R)) WHERE Date = january 22, 2006
LLM Reply: Retrieve the records of Topinka from table R where the date is January 22, 2006.
--------------------------------------------------
Original Question: How many times was Plan B 4th place?
SQL Query: SELECT COUNT(Winner) WHERE Fourth = Plan B
LLM Reply: Count the number of occurrences where the Fourth column has the value "Plan B".
--------------------------------------------------
Original Question: What was the average place for the song that had 69 points and a draw smaller than 13?
SQL Query: SELECT AVG(Place) WHERE Points = 69 AND Draw < 13
LLM Reply: Calculate the average placement for entries that have 69 points and fewer than 13 draws.
--------------------------------------------------
Original Question: What city is 103.3 FM licensed in?
SQL Query: SELECT (City of license) WHERE Frequency = 103.3 fm
LLM Reply: Retrieve the city of license where the frequency is 103.3 FM.
--------------------------------------------------
Original Question: Who won with the song kemenangan cinta?
SQL Query: SELECT (Winner) WHERE Winning Song = kemenangan cinta
LLM Reply: Select the Winner where the Winning Song is "kemenangan cinta".
--------------------------------------------------
Original Question: What are the profits in billions for Berkshire Hathaway?
SQL Query: SELECT (Profits (billion $)) WHERE Company = Berkshire Hathaway
LLM Reply: Show the profits in billion dollars for the company Berkshire Hathaway.
--------------------------------------------------
Original Question: What payload was on November 26, 2011, 15:02?
SQL Query: SELECT (Type of payload) WHERE Date and time( UTC ) = november 26, 2011, 15:02
LLM Reply: Retrieve the type of payload for the timestamp November 26, 2011, 15:02 UTC.
--------------------------------------------------
Original Question: What is the figure for Tujunga when Pasadena is 134,941?
SQL Query: SELECT (Tujunga) WHERE Pasadena = 134,941
LLM Reply: Find the value of Tujunga for which Pasadena equals 134,941.
--------------------------------------------------
Original Question: Name the district for tim lee hall
SQL Query: SELECT (District) WHERE Incumbent = Tim Lee Hall
LLM Reply: Select the District where the Incumbent is Tim Lee Hall.
--------------------------------------------------
Original Question: What is the value scored when there were 19 points for the team 3 de Febrero?
SQL Query: SELECT MAX(Scored) WHERE Points = 19 AND Team = 3 de Febrero
LLM Reply: Find the maximum value in the "Scored" column for records where the "Points" column equals 19 and the "Team" column is "3 de Febrero."
--------------------------------------------------
Original Question: When Peter Sagan won the youth classification and Thomas Rabou won the most corageous, who won the sprint classification?
SQL Query: SELECT (Sprint Classification) WHERE Youth Classification = Peter Sagan AND Most Courageous = Thomas Rabou
LLM Reply: Find the Sprint Classification for records where the Youth Classification is Peter Sagan and Most Courageous is Thomas Rabou.
--------------------------------------------------
Original Question: Who has the Home Score of 52-54?
SQL Query: SELECT (Home) WHERE Score = 52-54
LLM Reply: Retrieve records where the "Home" column is specified and the "Score" value is between 52 and 54, inclusive.
--------------------------------------------------
Original Question: What model has a builder of zhuzhou, and a power output of 9600 (kw)?
SQL Query: SELECT (Model) WHERE Builder (Family) = zhuzhou AND Power output (kW) = 9600
LLM Reply: Select the model where the builder family is Zhuzhou and the power output is 9600 kilowatts.
--------------------------------------------------
Original Question: What away team played at Kardinia Park?
SQL Query: SELECT (Away team score) WHERE Venue = kardinia park
LLM Reply: Show the scores of the away team for matches held at Kardinia Park.
--------------------------------------------------
Original Question: What is the largest area with a Code of 66097, and a Region larger than 6?
SQL Query: SELECT MAX(Area (km 2 )) WHERE Code = 66097 AND Region > 6
LLM Reply: Find the maximum area (in square kilometers) for entries where the code is 66097 and the region number is greater than 6.
--------------------------------------------------
Original Question: What day did Emerson Fittipaldi win the Spanish Grand Prix?
SQL Query: SELECT (Date) WHERE Winning driver = emerson fittipaldi AND Race = spanish grand prix
LLM Reply: Find the dates when Emerson Fittipaldi won the Spanish Grand Prix.
--------------------------------------------------
Original Question: Who was the interview subject on the date 1-97?
SQL Query: SELECT (Interview subject) WHERE Date = 1-97
LLM Reply: Select the interview subject where the date is January 1997.
--------------------------------------------------
Original Question: How many points did he win in the race with more than 1.0 poles?
SQL Query: SELECT (Points) WHERE Poles > 1.0
LLM Reply: Retrieve the points for entries where the number of poles is greater than 1.0.
--------------------------------------------------
Original Question: On what date does Yuji Tachikawa have the fastest lap in round 1?
SQL Query: SELECT (Date) WHERE Fastest Lap = yuji tachikawa AND Round = 1
LLM Reply: Retrieve the dates when Yuji Tachikawa achieved the fastest lap in Round 1.
--------------------------------------------------
Original Question: What was the date during week 13?
SQL Query: SELECT (Date) WHERE Week = 13

In [2]:
# Define paths to the dataset files
dev_path = "/home/qic69/Desktop/domain_metric/DMM_project/WikiSQL/data/dev.jsonl"
tables_path = "/home/qic69/Desktop/domain_metric/DMM_project/WikiSQL/data/dev.tables.jsonl"
model = "llama"

sql2nl(dev_path, tables_path, model)

Original Question: When was avishka gunawardene born?
SQL Query: SELECT (Date of Birth) WHERE Player = avishka gunawardene
LLM Reply: Find all records where the player's name is Avishka Gunawardene.
--------------------------------------------------
Original Question: What is the number for future stem for poztu?
SQL Query: SELECT COUNT(Future stem) WHERE Perfect stem = poztu
LLM Reply: The database contains a list of words, where each word has two stems (Future and Perfect), but we can't find any record that matches this specific condition.
--------------------------------------------------
Original Question: What is the fleet number with a 4-6-0 wheel arrangement made in 1890?
SQL Query: SELECT (Fleet number(s)) WHERE Wheel arrangement = 4-6-0 AND Year made = 1890
LLM Reply: Find all fleet numbers of steam locomotives that were produced in 1890, with a wheel arrangement of four main wheels followed by six smaller ones.
--------------------------------------------------
Original Question: What is every date of Mark Taylor as winning driver?
SQL Query: SELECT (Date) WHERE Winning driver = Mark Taylor
LLM Reply: Find all dates where the winning driver is Mark Taylor.
--------------------------------------------------
Original Question: What was the surface in 1981?
SQL Query: SELECT (Surface) WHERE Date = 1981
LLM Reply: The surface area of objects from the year 1981.
--------------------------------------------------
Original Question: For the ship that was a brig and located in the English Channel, what was the disposition of ship?
SQL Query: SELECT (Disposition of Ship) WHERE Ship Type = brig AND Location = english channel
LLM Reply: Find the ship dispositions for all ships that are brigs located in the English Channel.
--------------------------------------------------
Original Question: What is the highest Rd that Tom Sneva had the pole position in?
SQL Query: SELECT MAX(Rd) WHERE Pole Position = Tom Sneva
LLM Reply: Find the highest race number among drivers who are in pole position, specifically for Tom Sneva.
--------------------------------------------------
Original Question: What is the lowest Division, when Goals is less than 5, and when Season is "2002-03"?
SQL Query: SELECT MIN(Division) WHERE Goals < 5 AND Season = 2002-03
LLM Reply: Find the smallest division among teams that scored fewer than 5 goals during the 2002-03 season.
--------------------------------------------------
Original Question: What is the highest 2011 1H value for a 2005 over 28?
SQL Query: SELECT MAX(2011 1H) WHERE 2005 > 28
LLM Reply: What is the maximum value of quarterly sales in 2011 that were higher than $28 million in 2005?
--------------------------------------------------
Original Question: Which Game has a Team of portland trail blazers?
SQL Query: SELECT AVG(Game) WHERE Team = portland trail blazers
LLM Reply: What is the average game value for the Portland Trail Blazers team?
--------------------------------------------------
Original Question: Which Run has an Opponent of Canterbury?
SQL Query: SELECT (Runs) WHERE Opponent = canterbury
LLM Reply: Find all runs for the opponent Canterbury.
--------------------------------------------------
Original Question: What was the away team that played against Fitzroy?
SQL Query: SELECT (Away team) WHERE Home team = fitzroy
LLM Reply: Select the away team where the home team is Fitzroy.
--------------------------------------------------
Original Question: WHAT GAME HAD A SCORE OF 99-112?
SQL Query: SELECT (Game) WHERE Result = 99-112
LLM Reply: Select games where the result is a score of one point behind the opposing team's score.
--------------------------------------------------
Original Question: How many losses did leon patton have with the longest gain higher than 45?
SQL Query: SELECT COUNT(Loss) WHERE Name = leon patton AND Long > 45
LLM Reply: Find the number of losses for a person named "Leon Patton" who have taken longer than 45 minutes.
--------------------------------------------------
Original Question: Which actor played Harold Bishop for 17 years?
SQL Query: SELECT (Actor) WHERE Duration = 17 years AND Character = harold bishop
LLM Reply: Find all actors who played a character named Harold Bishop for exactly 17 years.
--------------------------------------------------
Original Question: Which Condition has an unaffected Partial thromboplastin time, Platelet count, and a Prothrombin time?
SQL Query: SELECT (Condition) WHERE Partial thromboplastin time = unaffected AND Platelet count = unaffected AND Prothrombin time = unaffected
LLM Reply: Here is a natural language translation of the given SQL query:

We need to select data where none of the following conditions are abnormal: the partial thromboplastin time, platelet count, and prothromboplastin time are all unaffected.
--------------------------------------------------
Original Question: Where was the game in which Kevin Durant (25) did the most high points played?
SQL Query: SELECT (Location Attendance) WHERE High points = Kevin Durant (25)
LLM Reply: Find all locations where Kevin Durant attended 25 high points of interest.
--------------------------------------------------
Original Question: If the parallel bars is 14.025, what is the total number of gymnasts?
SQL Query: SELECT COUNT(Gymnast) WHERE Parallel Bars = 14.025
LLM Reply: There is no row in the database where gymnasts are associated with a score of 14.025 on the parallel bars.
--------------------------------------------------
Original Question: Which Result has a Score of 1–0, and a Goal of 16?
SQL Query: SELECT (Result) WHERE Score = 1–0 AND Goal = 16
LLM Reply: We need to retrieve a result where a team won by one goal margin (Score difference of 1), with the score being 1-0, and they scored exactly 16 goals in total.
--------------------------------------------------
Original Question: What is Call Sign, when ERP W is greater than 50?
SQL Query: SELECT (Call sign) WHERE ERP W > 50
LLM Reply: Find call signs with a high Effective Radiated Power above 50.
--------------------------------------------------
Original Question:  how many losing bonus with won being 10 and points against being 283
SQL Query: SELECT COUNT(Losing bonus) WHERE Won = 10 AND Points against = 283
LLM Reply: What winning teams have lost by exactly 10 points, with a total of 283 points conceded?
--------------------------------------------------
Original Question: What is the Air Date that has a 18–49 larger than 1.9, less than 7.54 viewers and a rating less than 4.9?
SQL Query: SELECT (Air Date) WHERE 18–49 > 1.9 AND Viewers < 7.54 AND Rating < 4.9
LLM Reply: Find all air dates where the age of the audience is between 18-49 years old, with a viewership of less than 7.54 thousand people and a rating below 4.9 points.
--------------------------------------------------
Original Question: Name the leagues entering this round for 4
SQL Query: SELECT (Leagues entering this round) WHERE Clubs involved = 4
LLM Reply: Select the leagues participating in this tournament, given that exactly four clubs are involved.
--------------------------------------------------
Original Question: what is 1980 when 1979 is 951?
SQL Query: SELECT (1980) WHERE 1979 = 951
LLM Reply: Find all records from the year 1980 where the year of a related record is 1979 and its value equals 951.
--------------------------------------------------
Original Question: What vehicle has an epa highway fuel economy of 109 mpg-e?
SQL Query: SELECT (Vehicle) WHERE EPA rated Highway fuel economy = 109 mpg-e
LLM Reply: Find all vehicles with an Environmental Protection Agency (EPA) rating for highway fuel economy of 109 miles per gallon of gasoline-equivalent (mpg-e).
--------------------------------------------------
Original Question: What is the total number of civil liberties 2011 values having 2010 political rights values under 3 and 2011 political rights values under 1?
SQL Query: SELECT COUNT(Civil Liberties 2011) WHERE Political Rights 2010 < 3 AND Political Rights 2011 < 1
LLM Reply: The count of civil liberties in 2011 for countries with fewer than three political rights in 2010 and less than one political right in 2011.
--------------------------------------------------
Original Question: What is the total number of losses where the byes were greater than 0?
SQL Query: SELECT COUNT(Losses) WHERE Byes > 0
LLM Reply: There is one team that has lost at least once in a match where they were initially considered to have won.
--------------------------------------------------
Original Question: who wrote s01e06
SQL Query: SELECT (Written by) WHERE Television order = S01E06
LLM Reply: Who wrote the episode with the title S01E06 in a television show?
--------------------------------------------------
Original Question: What was the total number of weeks on peak for the Ireland Albums Top 75 chart?
SQL Query: SELECT COUNT(Weeks on Peak) WHERE Chart = Ireland Albums Top 75
LLM Reply: There are a certain number of weeks when the Irish albums chart reached its peak.
--------------------------------------------------
Original Question: What away team played at Kardinia Park?
SQL Query: SELECT (Away team score) WHERE Venue = kardinia park
LLM Reply: Find the away team's score from a game played at Kardinia Park.
--------------------------------------------------
Original Question: How many dates for the week of 4?
SQL Query: SELECT COUNT(Date) WHERE Week = 4
LLM Reply: How many dates are there for week four?
--------------------------------------------------
Original Question: What company built the chassis for a year later than 1959 and a climax l4 engine?
SQL Query: SELECT (Chassis) WHERE Year > 1959 AND Engine = climax l4
LLM Reply: The car models manufactured by Chassis with a year greater than 1959 and an engine that is similar to a Climax L4.
--------------------------------------------------
Original Question: What is the Attendance number for the title of 44th?
SQL Query: SELECT (Attendance) WHERE Title = 44th
LLM Reply: Find attendance records for the event with title "44th".
--------------------------------------------------
Original Question: What season has a regionalliga süd league, a 1-0 home, and an away of 2-3?
SQL Query: SELECT (Season) WHERE League = regionalliga süd AND Home = 1-0 AND Away = 2-3
LLM Reply: Select the season from games in the regionalliga süd where one team wins at home (score: 1-0) and the other team loses away (score: 2-3).
--------------------------------------------------
Original Question: How many laps did pere riba ride?
SQL Query: SELECT SUM(Laps) WHERE Rider = pere riba
LLM Reply: Here is the natural language translation of the SQL query:

"Pere Riba's total laps."
--------------------------------------------------
Original Question: What is the date of the poll with Silbert at 18%?
SQL Query: SELECT (Date) WHERE Silbert = 18%
LLM Reply: Find all dates where the percentage of silbert is exactly 18%.
--------------------------------------------------
Original Question: Name the original airdate for mr. buckston
SQL Query: SELECT (Original airdate) WHERE Identity(ies) = mr. buckston
LLM Reply: Here's a natural language translation of the given SQL query:

"Find all original air dates where there is at least one person named Mr. Buckston."
--------------------------------------------------
Original Question: What position does Antti-Jussi Niemi play?
SQL Query: SELECT (Position) WHERE Player = Antti-Jussi Niemi
LLM Reply: Find all positions of players whose name is Antti-Jussi Niemi.
--------------------------------------------------
Original Question: In what Round with an Overall greater than 306 was the pick from the College of Virginia Tech?
SQL Query: SELECT COUNT(Round) WHERE College = virginia tech AND Overall > 306
LLM Reply: There is no Round column in the given table, so we need to correct that first.

The corrected SQL query would be:
```
SELECT COUNT(*)
FROM table
WHERE College = 'Virginia Tech' AND Overall > 306
```

The natural language translation of this SQL query is:

How many students from Virginia Tech have an overall score greater than 306?
--------------------------------------------------
Original Question: What is the Airport with the ICAO fo KSEA?
SQL Query: SELECT (Airport) WHERE ICAO = ksea
LLM Reply: Find airport information for Sea-Tac Airport.
--------------------------------------------------
Original Question: Which Selection has a College of texas a&m?
SQL Query: SELECT SUM(Selection) WHERE College = texas a&m
LLM Reply: We need to find the total selection at Texas A&M college.
--------------------------------------------------
Original Question: What was the lowest # of total votes?
SQL Query: SELECT MIN(# of total votes)
LLM Reply: What is the minimum number of total votes?
--------------------------------------------------
Original Question: How many cfl teams had pick # 21?
SQL Query: SELECT COUNT(CFL Team) WHERE Pick # = 21
LLM Reply: How many CFL teams were picked number 21?
--------------------------------------------------
Original Question: On what date was the game that had a score of 7–0?
SQL Query: SELECT (Date) WHERE Score = 7–0
LLM Reply: Find all dates where a score was 7-0.
--------------------------------------------------
Original Question: What team has 2000-01 as the season?
SQL Query: SELECT (Team) WHERE Season = 2000-01
LLM Reply: Select the teams from the database that played during the 2000-01 season.
--------------------------------------------------
Original Question: Tell me the lowest gold for rank of 6 and total less than 2
SQL Query: SELECT MIN(Gold) WHERE Rank = 6 AND Total < 2
LLM Reply: Find the minimum amount of gold earned by someone who is ranked sixth and has a total score less than two.
--------------------------------------------------
Original Question: Which years have a Name of ladbrooks school?
SQL Query: SELECT (Years) WHERE Name = ladbrooks school
LLM Reply: Find the years for a specific school named 'Ladbrook's School'.
--------------------------------------------------
Original Question: Name the surface for philadelphia
SQL Query: SELECT (Surface) WHERE Championship = Philadelphia
LLM Reply: What surface is won by a team from Philadelphia in a championship?
--------------------------------------------------
Original Question: How many laps does jean-christophe boullion have with a time/retired of +1 lap?
SQL Query: SELECT (Laps) WHERE Time/Retired = +1 lap AND Driver = jean-christophe boullion
LLM Reply: Here is the translated query:

Find all laps where the time difference between retirement and the completed lap is one lap, and the driver's name is Jean-Christophe Boullion.
--------------------------------------------------
Original Question: Name the swuinsuit for oregon
SQL Query: SELECT (Swimsuit) WHERE State = Oregon
LLM Reply: Find all swimsuits from people who live in the state of Oregon.
--------------------------------------------------
Original Question: What team was the opponent in a week earlier than 17 on June 17, 2006?
SQL Query: SELECT (Opponent) WHERE Week < 17 AND Date = june 17, 2006
LLM Reply: The team that played against us in week 16 of the 2006 season was on June 17th.
--------------------------------------------------
Original Question: What Lane has a 0.209 React entered with a Rank entry that is larger than 6?
SQL Query: SELECT (Lane) WHERE React > 0.209 AND Rank > 6
LLM Reply: We need to show the data for lanes where the reaction is higher than a certain threshold (greater than 20.9%) and the rank is greater than six.
--------------------------------------------------
Original Question: What District has a Location of tharamani?
SQL Query: SELECT (District) WHERE Location = tharamani
LLM Reply: Find all districts where the location is Tharamani.
--------------------------------------------------
Original Question: For all events with index f10, what is the sum of the overall rankings?
SQL Query: SELECT SUM(Overall Ranking) WHERE Index = f10
LLM Reply: What is the overall ranking of team f10?
--------------------------------------------------
Original Question: What is the lowest number of points of any team with less than 6 draws and less than 18 matches played?
SQL Query: SELECT MIN(Points) WHERE Drawn < 6 AND Played < 18
LLM Reply: What is the minimum number of points scored by a team when they have drawn fewer than six games and played fewer than eighteen games?
--------------------------------------------------
Original Question: Which martial arts style was shown in Rio de Janeiro?
SQL Query: SELECT (Martial Art/Style) WHERE City = Rio de Janeiro
LLM Reply: What martial arts styles are practiced in Rio de Janeiro?
--------------------------------------------------
Original Question: What date was the xiv international gold cup?
SQL Query: SELECT (Date) WHERE Race Name = xiv international gold cup
LLM Reply: What dates were scheduled for the XIV International Gold Cup?
--------------------------------------------------
Original Question: What was the little league team from Michigan when the little league team from Indiana was Terre Haute North LL Terre Haute?
SQL Query: SELECT (Michigan) WHERE Indiana = Terre Haute North LL Terre Haute
LLM Reply: Here is a translation of the given SQL query:

"What cities in Michigan are neighboring cities to Terre Haute, which is also the capital of Indiana?"
--------------------------------------------------
Original Question: Which English winning song had the winner aris runtuwene?
SQL Query: SELECT (Winning Song (English Title)) WHERE Winner = aris runtuwene
LLM Reply: Find songs that won an award, given as 'aris runtuwene'.
--------------------------------------------------
Original Question: Away result of 0–3, and a Season of 1969-70 is what competition?
SQL Query: SELECT (Competition) WHERE Away result = 0–3 AND Season = 1969-70
LLM Reply: This SQL query selects all competitions where the away team lost by 3 or more goals in the 1969-70 season.
--------------------------------------------------
Original Question: What name shows as private authority and hibiscus and bays local board ?
SQL Query: SELECT (Name) WHERE Authority = private AND Local board = hibiscus and bays
LLM Reply: Select organizations with the name "hibiscus and bays" that are privately owned.
--------------------------------------------------
Original Question: Who was their opponent in game 4?
SQL Query: SELECT (Opponent) WHERE Game = 4
LLM Reply: Identify opponent for game number 4.
--------------------------------------------------
Original Question: What is the Streak on December 30?
SQL Query: SELECT (Streak) WHERE Date = december 30
LLM Reply: Find rows with a streak that occurs on December 30th.
--------------------------------------------------
Original Question: What is the Name of the dinosaur that was discovered in the Location, China, and whose Notes are, "described from a single tooth"?
SQL Query: SELECT (Name) WHERE Location = china AND Notes = described from a single tooth
LLM Reply: We need to find the names of people in China where there is a note about a single tooth.
--------------------------------------------------
Original Question: what are all the results of songs is " golden train "
SQL Query: SELECT (Result) WHERE Song choice = " Golden Train "
LLM Reply: We want to find all results where a song is called "Golden Train".
--------------------------------------------------
Original Question: How many judges were there for the eliminated couple?
SQL Query: SELECT (Judges) WHERE Result = Eliminated
LLM Reply: The judges who were eliminated from the competition.
--------------------------------------------------
Original Question: What was the record when the visiting team was Ottawa?
SQL Query: SELECT (Record) WHERE Visitor = ottawa
LLM Reply: Please provide the SQL query.
--------------------------------------------------
Original Question: What is the score of player bob rosburg?
SQL Query: SELECT (Score) WHERE Player = bob rosburg

(0.07487493569757904,
 [0.03602080288207364,
  0.0067177027389942,
  0.026572519415998235,
  0.059609942732681,
  0.04939382737115371,
  0.20514137305744243,
  0.04112175645551036,
  0.026296050395979906,
  0.060905111119656574,
  0.09144626892372869,
  0.03303164318013808,
  0.10025157431478134,
  0.053463162573637084,
  0.031420504922717064,
  0.08609583710384033,
  0.17558199612672082,
  0.03500496529700815,
  0.05777116779858033,
  0.01588436203293868,
  0.018636406807066564,
  0.015276780223747026,
  0.05775107557288739,
  0.02878787818101127,
  0.012285946074705657,
  0.14611783090145075,
  0.05507003802772936,
  0.011433361115787456,
  0.036362270465000714,
  0.07068348376743602,
  0.21142141714303078,
  0.14113991930789777,
  0.08481999049965716,
  0.045293761707938834,
  0.017448767890681335,
  0.023830412565256146,
  0.04324227075463215,
  0.007939087147543497,
  0.03986357128268015,
  0.022850994251305344,
  0.02151810250197126,
  0.19674979811155635,
  0.3303164318013807,
  0.3549481056010053,
  0.035984468898536105,
  0.020448007360218394,
  0.025128589800333053,
  0.020448007360218394,
  0.018476860420522198,
  0.014672606369868058,
  0.018476860420522198,
  0.03230645681297444,
  0.008531104334876973,
  0.028517539529041507,
  0.07458041230258697,
  0.0719208314823926,
  0.40352786374639904,
  0.47987820666906633,
  0.018041089138224272,
  0.01553712569276035,
  0.012021577610863726,
  0.07029695662739609,
  0.037684991644924185,
  0.04411629359322707,
  0.038834813427545335,
  0.07239768078888709,
  0.03034691922392704,
  0.01774239756616722,
  0.029519129053903102,
  0.030934588294313718,
  0.34329452398451965,
  0.025281168697394947,
  0.05906605024913205,
  0.21386638885976572,
  0.0428361950754725,
  0.12131756417616475,
  0.025098621243978974,
  0.02558948059670209,
  0.028927969316143217,
  0.042084990495118005,
  0.02340062524264556,
  0.03703131191121491,
  0.12760671487807074,
  0.024289783953423513,
  0.02777619034011792,
  0.022416933501922302,
  0.33180774028439425,
  0.03986357128268015,
  0.03807134866446317,
  0.14216645907653844,
  0.02915032279375143,
  0.019106079370278316,
  0.012990806323574158,
  0.01714632199160149,
  0.011577941920572241,
  0.05084720690436295,
  0.06674094719041482,
  0.0699489249174245,
  0.3539810268560156,
  0.22738612304909625,
  0.030934588294313718])